<!--@subject 歡迎加入 {{var store.getFrontendName()}} ， {{var customer.name}} ！ @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$customer.name":"Customer Name",
"store url=\"customer/account/\"":"Customer Account Url"}
@-->

<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>您好，{{htmlescape var=$customer.name}}</strong>,<br/>
                                歡迎光臨 <a href="{{store url=""}}" style="color:#1E7EC8;">{{var store.getFrontendName()}}</a>。登入請點擊每頁頁首的 <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">登入</a>或<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">我的帳號</a>，並輸入電子信箱和密碼。</p>

                            <p>登入網站後，您可以：</p>

                            <ul>
                                <li>購物時結帳更迅速</li>
                                <li>查看訂單狀態</li>
                                <li>查看歷史訂單</li>
                                <li>編輯帳號訊息</li>
                                <li>編輯密碼</li>
                                <li>儲存多個地址(購物送給親戚朋友！)</li>
                            </ul>

                            <p>有關帳號或購物的任何疑問，請發信給  <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 或撥打電話 {{config path='general/store_information/phone'}}。</p>
                            <p>多謝惠顧！</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
