<!--@subject Welcome, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>您好，{{var customer.name}}</strong>,<br/>
                            歡迎光臨 <a href="http://www.Magentochina.org" style="color:#1E7EC8;">Magento</a> 示範商店。登錄請點擊每頁頂部的 <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">登錄</a>或<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">我的帳號</a>，並輸入電子郵件地址和密碼。</p>

                            <p>登錄您的帳號後，您可以：</p>

                            <ul>
                                <li>購物時結帳更迅速</li>
                                <li>查看訂單狀態</li>
                                <li>查看歷史訂單</li>
                                <li>編輯帳號訊息</li>
                                <li>編輯密碼</li>
                                <li>儲存多個地址(給親戚朋友購物！)</li>
                            </ul>

                            <p>有關帳號或購物的任何疑問，請發郵件至<a href="mailto:samshuai@Magentochina.Org" style="color:#1E7EC8;">samshuai@MagentoChina.org</a> 或撥打電話 (800) 0000-0000。</p>
                            <p>多謝惠顧！</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
