<!--@subject New password for {{var user.name}} @-->

<style type="text/css">
           body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
      </style>

        <div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
         <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
             <tr>
                    <td align="center" valign="top">
                    <!-- [ header starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                                 <p><a href="{{store url=""}}" style="color:#1E7EC8;"><img src="{{skin url="images/media/logo_email.gif"}}" alt="Magento" border="0"/></a></p></td>
                            </tr>
                       </table>

                    <!-- [ middle starts here] -->
                      <table cellspacing="0" cellpadding="0" border="0" width="650">
                          <tr>
                                <td valign="top">
                             <p><strong>您好，{{var user.name}}</strong>：<br/>
                               您的新密碼為：{{var password}}</p>
                                                               <p>您隨時可以登錄<a href="{{store url="adminhtml/system_account/"}}" style="color:#1E7EC8;">您的帳號</a>編輯密碼。<p>

                                <p>多謝惠顧！<br/><strong><a href="http://www.Magentochina.org" style="color:#1E7EC8;">Magento</a> 示範商店</strong></p>


                             </td>
                           </tr>
                       </table>

                    </td>
               </tr>
           </table>
            </div>
