{* 解釋模組

該板型中有用的值：
  - name            收件人姓名
  - email           收件人電子信箱
  - product_name    商品名稱
  - product_url     商品網址
  - product_image   商品小圖片(75 px)地址
  - message         發件人自訂留言
  - sender_name     發件人姓名
  - sender_email    發件人郵箱

Use vars: {{var var_name}}
*}<!--@subject Payment Transaction Failed Reminder @-->

<table>
    <thead>
        <tr>
            <th>付款失敗。</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <p>
                    <b>原因</b><br />
                    {{var reason}}
                </p>
                <p>
                    <b>客戶：</b><br />
                    <a href="mailto:{{var customerEmail}}">{{var customer}}</a> &lt;{{var customerEmail}}&gt;
                </p>
                <p>
                    <b>商品</b><br />
                    {{var items}}
                </p>
                <p>
                    <b>總計：</b><br />
                    {{var total}}
                </p>
                <p>
                    <b>帳單地址：</b><br />
                    {{var billingAddress.format('html')}}
                </p>
                <p>
                    <b>配送地址：</b><br />
                    {{var shippingAddress.format('html')}}
                </p>
                <p>
                    <b>配送方式：</b><br />
                    {{var shippingMethod}}
                </p>
                <p>
                    <b>付款方式：</b><br />
                    {{var paymentMethod}}
                </p>
                <p>
                    <b>日期 & 時間：</b><br />
                    {{var dateAndTime}}
                </p>
            </td>
        </tr>
    </tbody>
</table>