{* This is a comment block

Available vars in this template:
  - $userName           User name
  - $applicationName    Application name
  - $status             Token new status

Use vars: {{var var_name}}
*}<!--@subject {{var name}} 歡迎光臨 @-->
<!--@vars
{"htmlescape var=$userName":"User name",
"var $applicationName":"Application name",
"var $status":"Token new status"}
@-->

{{htmlescape var=$userName}} 您好， <br /><br />
您在 <b>{{htmlescape var=$applicationName}}</b> 的授權管理團隊已經修改為
<b>{{htmlescape var=$status}}</b><br /><br />
