<!--@subject {{var order.getStoreGroupName()}}: Order # {{var order.increment_id}} update @-->
<style type="text/css">body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }</style>
<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
<table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
<tr>
    <td align="center" valign="top">
        <!-- [ header starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif" _area='frontend'}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
        </tr>
        </table>

        <!-- [ middle starts here] -->
        <table cellspacing="0" cellpadding="0" border="0" width="650">
        <tr>
            <td valign="top">
                <p>
                    <strong>您好，{{var order.getCustomerName()}}</strong>,<br/>
                    您的訂單# {{var order.increment_id}}已<br/>
                    <strong>{{var order.getStatusLabel()}}</strong>.
                </p>
                <p>您可以通過<a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">登錄您的帳戶</a>查看訂單狀態。</p>
                <p>{{var comment}}</p>
                <p>
                    如有任何疑問，請發郵件至
                    <a href="mailto:samshuai@MagentoChina.org" style="color:#1E7EC8;">samshuai@MagentoChina.org</a> 
                    或撥打電話(800) DEMO-STORE。
                </p>
                <p>多謝惠顧！<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
            </td>
        </tr>
        </table>
    </td>
</tr>
</table>
</div>