<!--@subject {{var store.getFrontendName()}}: 配送 # {{var shipment.increment_id}} 更新 @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$billing.getName()":"Guest Customer Name",
"var order.increment_id":"Order Id",
"var order.getStatusLabel()":"Order Status",
"var comment":"Order Comment",
"var store.getFrontendName()":"Store Name"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
@-->

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top"><a href="{{store url=""}}"><img src="{{skin url="images/logo.png" _area='frontend'}}" alt="{{var logo_alt}}"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p>
                                <strong>{{var billing.getName()}} 您好，</strong>,<br/>
                                您的訂單# {{var order.increment_id}} 狀態為<br/>
                                <strong>{{var order.getStatusLabel()}}</strong>.
                            </p>
                            <p>{{var comment}}</p>
                            <p>
                                如有任何疑問，請發信給 
                                <a href="mailto:{{config path='trans_email/ident_support/email'}}" style="color:#1E7EC8;">{{config path='trans_email/ident_support/email'}}</a> 
                                或撥打電話{{config path='general/store_information/phone'}}。
                            </p>
                            <p>多謝惠顧！<br/><strong>{{var order.getStoreGroupName()}}</strong></p>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</div>