<?xml version="1.0"?>
<config>
    <modules>
        <WP_ThemeGrayscale>
            <version>1.4.0</version>
        </WP_ThemeGrayscale>
    </modules>
    <global>
        <helpers>
            <themegrayscale>
                <class>WP_ThemeGrayscale_Helper</class>
            </themegrayscale>
        </helpers>
    </global>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <theme_grayscale translate="title" module="themegrayscale">
                                            <title><![CDATA[Web & People: Theme Grayscale]]></title>
                                            <sort_order>1000</sort_order>
                                        </theme_grayscale>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <theme_grayscale>
            <general>
                <version>1.4.0</version>
            </general>
        </theme_grayscale>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <about_webandpeople translate="title" module="themegrayscale">
                                            <title><![CDATA[Web & People: About Us]]></title>
                                            <sort_order>1000</sort_order>
                                        </about_webandpeople>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <global>
        <blocks>
            <themegrayscale>
                <class>WP_ThemeGrayscale_Block</class>
            </themegrayscale>
        </blocks>
    </global>
</config>
